################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lektion-6/Backend/Presentation/appsettings.json
/lektion-6/Backend/.vs